html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

h1, h3, h4, p {
  color: gainsboro;
  text-align: center;
}

img {
  max-height: 65%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#root {
  height: 100%;
}

#pageGrideContainer {
  /*this will be our top level container
  * it will contain our navigation bar, photoContainer, and RoutingContainer
  */
  display: grid;
  grid-template-columns: [col-first] 20% [col-second] auto [col-end];
  grid-template-rows: [row1-start] 50% [row2-start] 50% [row-end];
  height: 100%;
}

#NavigationGridItem {
  /*
  * our left side navigation bar that routes routingContainer
   */
  grid-column-start: col-first;
  grid-column-end: col-second;
  grid-row-start: row1-start;
  grid-row-end: row-end;
  /*background-color: #fffff9;*/
  background-color: black;
  padding-top: 13em;
  border-color: gainsboro;
  border-style: solid;
}

#RoutingContainer {
  /*
  *  this is the bottom container that changes content based of the navigation
   */
  grid-column-start: col-second;
  grid-column-end: col-end;
  grid-row-start: row2-start;
  grid-row-end: row-end;
  /*background-color: #fffff9*/
  background-color: black;
  border-style: solid;
  border-color: gainsboro;
  overflow-y: scroll;
}

#PhotoContainer {
  /*
  *  this is the top container above Routing container that will have a photo of me
   */
  grid-column-start: col-second;
  grid-column-end: col-end;
  grid-row-start: row1-start;
  grid-row-end: row2-start;
  /*background-color: #fffff9;*/
  background-color: black;
  border-style: solid;
  border-color: gainsboro;
  background-image: url("https://s3.amazonaws.com/gainzngames-photo-bucket/dustin.jpeg");
  background-size: 45em;
  background-repeat: no-repeat;
  background-position: center top;

}

.contentButtons {
  display: block;
  border: none;
  /*background-color: #fffff9;*/
  background-color: black;
  margin-bottom: 5em;
  cursor: pointer;
  margin-left: 40%;
  font-size: 20px;
  color: white;
}

/*formating buttons for space*/
@media screen and (max-width: 600px) {
  .contentButtons {
    margin-left: 0%;
    font-size: 12px;
  }
}
/*formating buttons for space*/
@media screen and (min-width: 610px) and (max-width: 840px) {
  /*645px to 840px*/
  .contentButtons {
    margin-left: 25%;
  }
}

@media screen and (max-width: 350px){

    .contentButtons{
        font-size: 8px
    }
}


.button-container-1 {
  transition: 0.5s;
}
.button-container-1 input {
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 input:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

/*.mas {*/
  /*position: absolute;*/
  /*color: #000;*/
  /*text-align: center;*/
  /*width: 101%;*/
  /*font-weight: 300;*/
  /*position: absolute;*/
  /*font-size: 20px;*/
  /*margin-top: 12px;*/
  /*overflow: hidden;*/
/*}*/

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

/*# sourceMappingURL=base.css.map */
